@import 'theme.css';

/* Ширина центрального окна */
.wy-nav-content {
   max-width: 80%;
}


/* ссылки на объекты документации (роль :doc:) */
span.doc {
    font-weight: bold;
}


/* директива .. rubric:: */
.rst-content p.rubric {
    font-size: x-large;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    background-color: #e7f2fa;
    margin: 0;
    padding: 5px 0 5px 12px;
}


/* список свойств объекта */

.rst-content dl{
    font-size: 90%; /* small - слишком мелко, medium/normal - слишком крупно */
}

.rst-content .field-list p,
.rst-content .field-list table{
    font-size: inherit;
    margin: 0;
    padding: 2px 0 5px 12px;
}

.rst-content .field-list dd{
    margin: 0;
    padding: 0;
}

.rst-content .field-list dt{
    margin: 0;
    padding: 5px 0 0 0;
}

.rst-content .field-list dt.field-even,
.rst-content .field-list dd.field-even {
    background: #f3f5f7;
}


/* таблица со списком методов должна занимать всю доступную ширину */
.rst-content table.docutils,
.wy-table-bordered-all {
    width: 100%;
}


/* Сигнатура метода */

html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    background: #f3f5f7;
    font-size: medium;
    text-decoration: underline;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

/* описание параметров метода */

.rst-content .com-object.method .field-list.simple {
    margin: 0;
    padding-left:24px;
    background-color: #f3f5f7;
}

.rst-content .field-list.simple dl dd {
    line-height: normal;
    margin-left:0;
}

.rst-content dl.com-object.method dd{
    margin-left: 0;
}

.rst-content dl.com-object.method dd>p {
    padding: 5px 0 0 5px;
    font-size: inherit;
}


/* Первый текст в варнинге (.. warning:: Этот текст) */

.rst-content .admonition.warning p{
    font-size: 90%
}

.rst-content .admonition.warning>p:nth-child(1), /* Первый потомок - надпись "Предупреждение" */
.rst-content .admonition.warning>p:nth-child(2){ /* второй потомок - основная мысль варнинга */
    font-size: medium;
    font-weight: bold;
}

/* список полей в warning'ах */

.rst-content dl.field-list {
    overflow: auto;
}

.rst-content .warning dl dt,
.rst-content .warning dl dd {
    padding: inherit;
}

.rst-content .warning dl dt.field-even,
.rst-content .warning dl dd.field-even {
    background: transparent;
}

.rst-content .warning dl dt.field-odd,
.rst-content .warning dl dd.field-odd {
    background: #f5e5c5;
}


/* Шапка таблиц */

.rst-content thead {
    border: groove;
}


/* Прячем вкладку "On Read the Docs" и "On GitHub"*/

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3),
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}