@import 'theme.css';


/* Ширина центрального окна */
.wy-nav-content {
   max-width: 100%;
}


/* ссылки на объекты документации (роль :doc:) */
span.doc {
    font-weight: bold;
}


/* директива .. rubric:: */
.rst-content p.rubric {
    font-size: x-large;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    background-color: #e7f2fa;
    margin: 0;
    padding: 5px 0 5px 12px;
}


/* список свойств объекта */

.rst-content dl{
    font-size: 90%; /* small - слишком мелко, medium/normal - слишком крупно */
}

.rst-content .field-list p,
.rst-content .field-list table{
    font-size: inherit;
    margin: 0;
    padding: 2px 0 5px 24px;
}

.rst-content .field-list dd{
    margin: 0;
    padding: 0;
}

.rst-content .field-list dt{
    margin: 0;
    padding: 5px 0 0 0;
}

.rst-content .field-list:not(.simple) dt.field-even,
.rst-content .field-list:not(.simple) dd.field-even {
    background: #f3f5f7;
}


/* Первый текст в варнинге (.. warning:: Этот текст) */

.rst-content .admonition.warning:not(admonition-title):not(wy-table-responsive)>p{
    font-size: medium;
    font-weight: bold;
}

/* список полей в warning'ах */

.rst-content .warning dl dt.field-even,
.rst-content .warning dl dd.field-even {
    background: transparent;
}

.rst-content .warning dl dt.field-odd,
.rst-content .warning dl dd.field-odd {
    background: #f5e5c5;
}


/* Сигнатура метода */

html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    background: transparent;
    font-size: medium;
    text-decoration: underline;
    margin: 0;
    border: 0;
    padding: 0;
}